@charset "ISO-8859-1";
body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 70%;
    margin: 50px auto;
    border: 4px double black;
    border-collapse: separate;
    border-spacing: 2px;
}

th, td{
    border: 2px double black;
    padding: 18px;
    text-align: center;
    font-size: 22px;
}

.title{
    font-size: 32px;
    font-weight: bold;
}